.header {
	width: 100%;
	min-height: 100px;
	position: sticky !important;
  	top: 0;
  	display: flex !important;
  	justify-content: center;
  	margin-bottom: 10px;
  	z-index: 10;
  	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.inline-header{
	width: 100%;
	display: flex;
	border-radius: 30px;
	border: 1px solid;
	border-color: #8cbf41;
	background-color: white ;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
