.header-contacts {
	display: flex;
	justify-content:center;
	align-content: center;
	
}
.header-contacts div{
	color: #2f3329;
}
.header-links a{
	text-decoration: none;
	outline: none;
	width: 100%;
	text-align: center;
	display: inline-block;
	color: #2f3329;
}
.header-links a:hover{
	color:#8cbf41;
}
.pn {
	padding-top: 0px !important;
}
.link-img {
	display: inline-block;
	background-image: url(../../../pictures/icons8-external-link-squared-24.png);
	background-origin:content-box;
	background-size: cover;
}
@media screen and (min-width: 1270px) {
	.header-contacts div{
		min-width: 200px;
		padding-top: 3px;
	}
	.link-img {
		width: 16px;
		height: 16px;
	}
}
 
