.header-contacts {
	display: flex;
	justify-content:center;
	align-content: center;
	
}
.header-contacts div{
	min-width: 200px;
	color: #2f3329;
	padding-top: 3px;
}
.header-links a{
	text-decoration: none;
	color: #2f3329;
	outline: none;
}
.header-links a:hover{
	color:#8cbf41;
}
.pn {
	padding-top: 0px !important;
}
.link-img {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../../../pictures/icons8-external-link-squared-24.png);
	background-origin:content-box;
	background-size: cover;
}
