.inline-main{
	display: flex;
	margin-top: 20px;
}
.side-bar{
	background-color: #fff;
	border: 1px solid;
	border-color: #8cbf41;
	display:flex;
	flex-flow: row wrap;
	align-items: stretch;
	flex-direction: column;	
	text-align: center;
	min-height: 500px;
	width: 9%;
}
.side-bar-left{
	border-radius: 30px 0px 30px 30px;
}
.side-bar-right{
	border-radius: 0px 30px 30px 30px;
}
.geography-content-container {
	min-height: 500px;
	width: 82%;
	background-color: white;
	border-radius: 0px 0px 30px 30px;
	border: 1px solid;
	border-color: #8cbf41;
	padding: 12px 24px 17px 24px;
}

.geography-content h2{
	text-align: center;
	font-size: 27px;
	font-weight: 700;
	color:#011751;
}
.delivery-map {
	min-height: 490px;
	background-image: url('../../pictures/delivery-map.png');
	background-position: center;
	background-size: unset;
	background-repeat: no-repeat;
	margin-top: 10px;
	width: 100%;
	border-radius: 30px;
	border: 1px solid;
	border-color: #8cbf41;
}
.three-arrows{
	text-align: center;
}
.geography-container{
	display: flex;
	justify-content: space-around;
}
.info-box{
	width: 275px;
	min-height: 400px;
	border-radius: 20px;
	border: 2px solid;
	border-color: #8cbf41;
	cursor: pointer;
	  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.info-box img {
	border-radius: 17px;
}
.info-box h3{
	font-size: 30px;
	font-weight: 600;
	color: #8cbf41;
	text-align: center;
	margin-bottom: 5px;
	position: relative;
	bottom: 178px;
}
.info-box p{
	font-size: 19px;
	font-weight: 400;
	color: #2f3329;
	text-align: center;
}
.front,
.back{
  	background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 400px;
	height: auto;
	border-radius: 17px;
	color: #fff;
	font-size: 1.5rem;
}
.europe{
	background-color: white;
	background-image: url(../../pictures/europe.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.asia{
	background-color: white;
	background-image: url(../../pictures/asia.jpg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.sng{
	background-color: white;
	background-image: url(../../pictures/sng.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.back{
  background-color: #0153a1;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#c8d7e3 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#c8d7e3 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#c8d7e3 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
	        perspective: 1000px;
    border-radius: 17px;
}
.info-box:hover .front,
.info-box:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    outline: 1px solid transparent;
    z-index: 2;
    width: 100%;
}

.info-box .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.info-box .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.info-box:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.info-box:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.geography-info {
	display: flex;
	margin-top: 10px;
	padding:10px; 
}
.geography-info p:first-child{
	margin-top: 15px;
	font-weight: 400;
}
.geography-info div:first-child{
		width: 70%;
}
.geography-info div:last-child{
		width: 30%;
}