.four {
    background-image: url(../../pictures/bg-avtotransport-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}
.partners{
    min-height: 325px;
    display: flex;
    flex-direction: column;
    justify-content:end;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .partners h3 {
        position: relative !important;
        left: 160px !important;
        bottom: -44px !important;
        margin-bottom: 150px !important;
    } 
}
.partners h3{
    width: 204px;
    position: relative;
    left: 250px;
    bottom: 80px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
}
.partners img{
    margin-left: 50px;
}
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    .slick-slider {
    
    } 
} */