.third{
	background-color: #fff;
}
.groupage-cargo-container{
	width: 30%;
	float: left;
}
.groupage-cargo-img{
	width: 70%;
	float: right;
}
@media screen and (min-width: 1270px) {
	.groupage-cargo{
		padding-top: 15px;
		min-height: 400px;
		padding-left: 46px;
		padding-right: 40px;
	}
	.groupage-cargo h2{
		margin-bottom: 10px;
	}
}