.slide {
	width: 100%;
	margin-bottom: 301px;
}
.slide-container{
	display: flex;
	align-items: center;
	justify-content: center;
	max-height:300px;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}
@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.fadein { 
	position:relative; 
	width:100%;
	min-height: 156px;
	max-height:600px;
	margin-bottom: 365px;
	}
.fadein div { 
	position:absolute;
	width:100%; 
	min-height: 711px;
	max-height: 711px;
	left:0; 
	right:0; 
	opacity:0; 
	animation-name: fade; 
	animation-duration: 15s; 
	animation-iteration-count: infinite; 
	}
	.fadein img { 
		position:absolute;
		width:100%; 
		min-height: 711px;
		max-height: 711px;
		max-width: 1900px;
		left:0; 
		right:0; 
		}
.fadein div:nth-child(1) { animation-delay: 0s;  }
.fadein div:nth-child(2) { animation-delay: 5s;  }
.fadein div:nth-child(3) { animation-delay: 10s;  }
.fadein h1, .slideText2, .slideText3{ 
	position: relative;
	top: 160px;
	/* color:#8cbf41; */
	color:#8cbf41;
	font-size: 40px;
	font-weight: 700;
	opacity:0; 
	animation-name: fade; 
	animation-duration: 15s; 
	animation-iteration-count: infinite;
	z-index: 1;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a;
	-webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	}

.fadein h1 div:nth-child(1) { animation-delay: 0s;  }
.fadein div:nth-child(2) { animation-delay: 5s;  }
.fadein div:nth-child(3) { animation-delay: 10s;  }
.fadein .slideText2:nth-child(2) { animation-delay: 5s;  }
.fadein .slideText3{ animation-delay: 10s;  }



